version: '3.9'
services:
  db:
    image: mysql:latest
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: robinhood
      MYSQL_USER: tanva
      MYSQL_PASSWORD: 1234
    ports:
      - "3308:3306"
    volumes:
      - ../robinhood.sql:/docker-entrypoint-initdb.d
    

  api:
    build: ../robinhood/
    ports:
      - "5000:5000"
    depends_on :
      - db
    environment:
      DB_DATABASE: robinhood
      DB_USER: tanva
      DB_PASSWORD: 1234
      DB_HOST: db
