version: '1.0'
services:
  db:
    image: mysql:latest
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: robinhood
      MYSQL_USER: root
      MYSQL_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - ./robinhood.sql:/docker-entrypoint-initdb.d
    networks:
      - mynetwork

    api:
      build: ./backend-api/
      ports:
        - "5000:5000"
      depends_on :
        - db
      environment:
        MYSQL_DATABASE: robinhood
        MYSQL_USER: root
        MYSQL_PASSWORD: root
        MYSQL_HOST: db
